/* @charset "UTF-8"; */

/**
 * @package 	 SimpleCss
 * @subpackage   CSS Variables - Typography & Spacing
 * @version 	 14.11 
 * @file		 css/src-simplecss-14.11/01-1-simplecss-custom-typo.css 
 * @lastmodified 2024-11-28
 *
 *
 * ------------------------------------------------------------
 * --- 01 - CUSTOM PROPERTIES - TYPOGRAPHY & SPACING  
 * ------------------------------------------------------------
 *
 *
	Table of Content :
	------------------
	1. Custom properties		
		1.1 - Fonts - Appareance
		1.2 - Fonts - Sizes
		1.3 - Helpers for spacing
        1.4 - Line-Height & Vertical Rythm
		1.5 - Responsive Typography
		1.6 - Colors Pallet
		1.7 - Functionnal assignations : Elements	
		1.8 - Functionnal assignations : Layouts			
 */
 
 
 /* ------------------------------------------------------------
 * - - 1.1 - Fonts - Appareance 
 * ------------------------------------------------------------ */
 
:root {
 
 /* System Font-stack */
	--system-ui:
		system-ui,
		"Segoe UI",		
		"Roboto";
			
	--monospace-ui:
		ui-monospace,
		Consolas,
		Roboto Mono;		
		
	--emoji-ui:
		"Apple Color Emoji",	
		"Segoe UI Emoji";
		
	/* Family Font-stack */
	/* A définir dans le thème :
		--font-body;
		--font-heading;
		--font-mono;
		--font-pre;
		--font-cursive;
	*/
		
	/* Theme Fonts */
	--text-font: var(--font-body, var(--system-ui)), sans-serif, var(--emoji-ui);
	--navi-font: var(--font-body, var(--system-ui)), sans-serif;
	--title-font: var(--font-heading, var(--system-ui)),sans-serif;
	--widget-title-font: var(--font-heading, var(--system-ui)),sans-serif;
	--code-font: var(--font-mono, var(--monospace-ui)), monospace;
	--pre-font:  var(--font-pre, Courrier), monospace;
	
	/* Font Weight. */
	/* default i.e font-weight: bold --> moins épais avec 500 */
	--title-font-weight: 500;
	--navi-font-weight: 400;
	--widget-title-font-weight: 500;
	
	/* Text Transform. */
	--title-text-transform: none;
	--navi-text-transform: none;
	--widget-title-text-transform: uppercase;
}


/* ------------------------------------------------------------
 * - 1.2 - Fonts - Sizes
 * ------------------------------------------------------------ */
 
:root {
	
	/* 1rem = 16px --> 0.625rem = 1px */
	--px-to-rem: .0625rem;
	
	/* Font-size de base*/
	--font-size-base: 1rem;
	
	/* Font-size variations */
	--text-size-xs:  .8125rem;   	/* 13px */  
	--text-size-sm:  .9375rem;      /* 15px */
	--text-size:    1rem;  	        /* 16px */
	--text-size-lg: 1.0625rem; 		/* 17px */	
	--text-size-xl: 1.125rem;  		/* 18px */
	
	/** 
	 * Heading Hierarchy :
	 * Scale-1 ~ classic typographic scale: 1.15
			p     h6      h5	  h4	  h3	  h2	  h1
			1     1.149   1.32    1.52    1.74    2.00    2.30
			1     1.15    1.32    1.52    1.75    2.01    2.31
		   16px  18.4px  21.2px  24.3px  28.0px  32.2px  37.0px
		   17px  19.6px  22.5px  25.9px  29.7px  34.2px  39.3px
		   18px  20.7px  23.8px  27.4px  31.5px  36.2px  41.6px	 
	 */
	 
	--h6-size: 1.125rem;			/* 18px */
	--h5-size: 1.3125rem;  			/* 21px */
	--h4-size: 1.5rem;				/* 24px */
	--h3-size: 1.75rem;				/* 28px */
	--h2-size: 2rem;				/* 32px */
	--h1-size: 2.25rem;				/* 36px */		
}


/* ------------------------------------------------------------
 * - 1.3 - Helpers for spacing
 * ------------------------------------------------------------ */
 
 /**
  * @see https://maketypework.com/web-typography-baseline-grids-made-easy/
  */
 
/**
 * @link https://www.designsystems.com/space-grids-and-layouts/
 * "My preferred method is an 8pt linear scale for elements with a 4pt half step for spacing icons or small text blocks. 
 * I prefer a 4pt baseline grid for my typography which means the line-heights of my font choices will always be divisible by 4."
 */
 
:root {
 
	/* Components spacing (padding) */
	--unit-px: 4px; 	/*  .25rem */
	--unit-0:  calc(var(--unit-px) * 0);	   /*  0px */
	--unit-05: calc(var(--unit-px) * 0.5);	   /*  2px */
	--unit-1:  calc(var(--unit-px) * 1);	   /*  4px */
	--unit-15: calc(var(--unit-px) * 1.5);	   /*  6px */
	--unit-2:  calc(var(--unit-px) * 2);	   /*  8px */
	--unit-25: calc(var(--unit-px) * 2.5);	   /*  10px */
	--unit-3:  calc(var(--unit-px) * 3);	   /*  12px */
	--unit-4:  calc(var(--unit-px) * 4);	   /*  16px */
	--unit-5:  calc(var(--unit-px) * 5);	   /*  20px */
	--unit-6:  calc(var(--unit-px) * 6);	   /*  24px */
	--unit-7:  calc(var(--unit-px) * 7);	   /*  28px */
	--unit-10: calc(var(--unit-px) * 10);	   /*  40px */
	
	/* Spacing (margin) */	
	--spacing-unit: 1rem;   /* 16px */
	--spacing-0:  calc(var(--spacing-unit) * 0);	   /*  0px */
	--spacing-05: calc(var(--spacing-unit) * 0.5);	   /*  8px */
	--spacing-1:  calc(var(--spacing-unit) * 1);	   /* 16px */ 
	--spacing-15: calc(var(--spacing-unit) * 1.5);     /* 24px */	
	--spacing-2:  calc(var(--spacing-unit) * 2);       /* 32px */
	--spacing-25: calc(var(--spacing-unit) * 2.5);     /* 40px */
	
	/* border-radius */
	--radius: 4px;		
}  


/* ------------------------------------------------------------
 * - 1.4 - Line-Height & Vertical rythm
 * ------------------------------------------------------------ */
 
/**
 * Il faut normalement éviter de spécifier line-height avec des unités absolues (pixels ou points), 
 * afin de ne pas affecter un éventuel redimensionnement du texte dans un navigateur. 
 * On a cependant spécifié une hauteur fixe basée sur le leading,
 * d'où précedemment notre mode de calcul de la line-height pour les titres :
 *		h4-line-height: ((nb * leading) - padding-top) / h4-size
 * ou autre approche dans cete feuille de style
 *      h4-padding-top: (nb * leading) - (title-line-height * h4-size)
 */
 
:root {
	
	/* Vertical rythm */
	/* $leading  = ($line-height-base) * ($font-size-base)); */
	/** --leading: calc(var(--baseline-unit) * 6);	i.e 16px * 1.5 = 24px */
	--line-height : 1.5;
	--baseline-unit: 0.25rem; 	/* 4px */		
	--leading: 1.5rem;
	
	--margin-unit: var(--leading); 
	--margin-0: 0rem;
	--margin-05:calc(var(--margin-unit) * 0.5);
	--margin-1: calc(var(--margin-unit) * 1);
	--margin-15:calc(var(--margin-unit) * 1.5);
	--margin-2: calc(var(--margin-unit) * 2);
	--margin-25:calc(var(--margin-unit) * 2.5);	
	
	/* Line-height */	
	--text-line-height: var(--leading); 
	--navi-line-height: 1;
	
	/* Line-height : Heading */		
	--title-line-height: 1.35;	
	--h6-line-height: calc(var(--baseline-unit) * 6);   /* 24px i.e 1.33 */  	/* 18px * 1.35 =  24.3px i.e 6.1 unit  */
	--h5-line-height: calc(var(--baseline-unit) * 7);   /* 28px i.e 1.33 */ 	/* 21px * 1.35 =  28.4px i.e 7.1 unit  */ 
	--h4-line-height: calc(var(--baseline-unit) * 8);   /* 32px i.e 1.33 */  	/* 24px * 1.35 =  32.4px i.e 8.1 unit  */ 
	--h3-line-height: calc(var(--baseline-unit) * 9);   /* 36px i.e 1.29 */	    /* 28px * 1.35 =  37.8px i.e 9.5 unit  */
	--h2-line-height: calc(var(--baseline-unit) * 11);  /* 44px i.e 1.38 */  	/* 32px * 1.35 =  43.2px i.e 10.8 unit */

	/* Correctif Line-Height Heading */
    --h6-padding-top: 0px;
	--h5-padding-top: calc(var(--leading-2) - var(--h5-line-height));
	--h4-padding-top: calc(var(--leading-2) - var(--h4-line-height));
	--h3-padding-top: calc(var(--leading-2) - var(--h3-line-height));
	--h2-padding-top: calc(var(--leading-2) - var(--h2-line-height));
}


/* ------------------------------------------------------------
 * - 1.5 - Responsive Typography
 * ------------------------------------------------------------ */	
 
/**
 * Heading Hierarchy :
 * Scale-2 ~ minor-third : 1.2
	 	p     h6      h5	  h4	  h3	  h2	  h1
	 	1     1.2     1.44    1.73    2.07    2.49    2.99
	   16px  19.2px  23.0px  27.6px  33.2px  39.8px  47.8px
	   17px  20.4px  24.5px  29.4px  35.3px  42.3px  50.8px
	   18px  21.6px  25.9px  31.1px  37.3px  44.8px  53.8px
 */ 
 
@media only screen and (min-width: 768px) {		/* 48rem */
	:root {
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){		
	.long-title {	
	}
}

@media only screen and (min-width: 992px) {		/* 62rem */
	:root {
		--text-size: 1.0625rem;	/* 17px --> line-height = 1.41 */
		--scale: 1.2;  			/* scale-2 : minor-third */
		
		--h6-size: 1.25rem;			/* 20px */
		--h5-size: 1.5rem;  		/* 24px */
		--h4-size: 1.875rem;		/* 30px */
		--h3-size: 2.25rem;			/* 36px */
		--h2-size: 2.625rem;		/* 42px */
		
		--h6-line-height: calc(var(--baseline-unit) * 7);   /* 28px i.e 1.4 */  	
		--h5-line-height: calc(var(--baseline-unit) * 8);   /* 32px i.e 1.33 */ 	 
		--h4-line-height: calc(var(--baseline-unit) * 10);  /* 40px i.e 1.33 */  	
		--h3-line-height: calc(var(--baseline-unit) * 12);  /* 48px i.e 1.33 */	    
		--h2-line-height: calc(var(--baseline-unit) * 14);  /* 56px i.e 1.33 */ 
		
		--h6-padding-top: calc(var(--leading-2) - var(--h6-line-height));
		--h2-padding-top: calc(var(--leading-3) - var(--h2-line-height));
	}
	
	.typo-content {
		--text-size: 1.125rem; 	       /* 18px --> line-height = 1.56 */
		--leading: calc(var(--baseline-unit) * 7);	/* 1.75rem;  28px */
		
		--h6-size: 1.375rem;			/* 22px */
		--h5-size: 1.625rem;  			/* 26px */
		--h4-size: 2rem;				/* 32px */
		--h3-size: 2.375rem;			/* 38px */
		--h2-size: 2.75rem;				/* 44px */
		
		--h6-line-height: calc(var(--baseline-unit) * 7);   /* 28px i.e 1.27 */  	
		--h5-line-height: calc(var(--baseline-unit) * 9);   /* 36px i.e 1.38 */ 	 
		--h4-line-height: calc(var(--baseline-unit) * 11);  /* 44px i.e 1.38 */  	
		--h3-line-height: calc(var(--baseline-unit) * 13);  /* 52px i.e 1.37 */	    
		--h2-line-height: calc(var(--baseline-unit) * 15);  /* 60px i.e 1.36 */  	
	}
}
	